<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <h1 style="display:inline-block">Nice to meet you <%= user.name %></h1>
    <a href="/logout">
      <button>Logout</button>
    </a>
    <img style="display:block" src=<%= user.avatar %>>
  </body>
</html>
